<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="defaultDatabase" value="finSCV9"/>
    <add key="defaultServer" value="DevDb1"/>
    <add key="defaultServerUser" value="itdev"/>
    <add key="defaultServerPwd" value="sanddust"/>
  </appSettings>
</configuration>